<!--
<button (click)="registerPatient()" class="btn btn-primary">Register</button>
<button (click)="deletePatient()" class="btn btn-danger">Delete</button>
<button (click)="updatePatient()" class="btn btn-warning">Update</button>
<hr>
<h2>Patient List</h2>
<div *ngFor="let patient of patientList$ | async">
  <p>{{patient.id}} - {{patient.firstName}} - {{patient.lastName}}</p>
</div>

-->
<h2>Patient Registration Form</h2>
<form [formGroup]="registrationForm">

  <div class="form-group">
    <label for="firstName">First Name</label>
    <input class="form-control" name="firstName" id="firstName" type="text" formControlName="firstName">
  </div>

  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input class="form-control" name="lastName" id="lastName" type="text" formControlName="lastName">
  </div>

  <div class="form-group">
    <label for="age">Age</label>
    <input class="form-control" name="age" id="age" type="text" formControlName="age">
  </div>

  <div class="form-group">
    <label for="gender">Gender</label>
    <select class="form-control" name="gender" id="gender" formControlName="gender">
      <option *ngFor="let sex of gender" [value]="sex">{{sex}}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="mobile1">Mobile 1</label>
    <input class="form-control" name="mobile1" id="mobile1" type="text" formControlName="mobile1">
  </div>

  <div class="form-group">
    <label for="mobile2">Mobile 2</label>
    <input class="form-control" name="mobile2" id="mobile2" type="text" formControlName="mobile2">
  </div>

  <div class="form-group">
    <label for="emergencyContactNumber">Emergency Contact</label>
    <input class="form-control" name="emergencyContactNumber" id="emergencyContactNumber" type="text" formControlName="emergencyContactNumber">
  </div>

  <div class="form-group">
    <label for="address1">Address</label>
    <textarea class="form-control" name="address1" id="address1" formControlName="address1" rows="6"
              placeholder="Complete Address."></textarea>
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input class="form-control" name="email" id="email" type="text" formControlName="email">
  </div>

  <div class="form-group">
    <label for="referedDoc">Refered Doc</label>
    <input class="form-control" name="referedDoc" id="referedDoc" type="text" formControlName="referedDoc">
  </div>

  <div class="button-center-div">
    <button (click)="registerPatient()" class="btn btn-primary">Register</button>
    <button (click)="registerPatient()" class="btn">Cancel</button>
  </div>

<!--  <button (click)="deletePatient()" class="btn btn-danger">Delete</button>
  <button (click)="updatePatient()" class="btn btn-warning">Update</button>-->

</form>
